@import '../../styles/color.scss';
@import '../../styles/media.scss';

.date {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 margin-bottom: 16px;
}

.dateDay {
  display: block;
  width: 15px;
  text-align: center;
  border-bottom: 1px solid $black;

    @include _530 {
      width: 3vw;
    }
}

.dateMonth {
  display: block;
  width: 75px;
  text-align: center;
  border-bottom: 1px solid $black;
  
    @include _530 {
      width: 16vw;
    }
}

.dateYear {
  display: block;
  width: 35px;
  margin-left: 5px;
  text-align: center;
  border-bottom: 1px solid $black;

    @include _530 {
      width: 5vw;
      margin-left: 1px;
    }
}

.title {
  display: flex;
  margin: 0 auto;
  width: 260px;

    @include _530 {
      width: 45vw;
    }
}

.invoiceNumber {
  display: block;
  width: 90px;
  height: 28px;
  padding-left: 10px;
  border-bottom: 1px solid $black;

    @include _530 {
      width: 15vw;
      height: 4.5vw;
      padding-left: 1vw;
    }
}

.toWhom {
  display: flex;
  flex-direction: row;
}

.toWhomField {
  display: block;
  width: 100%;
  height: 16px;
  margin-left: 5px;
  padding-left: 10px;
  border-bottom: 1px solid $black;

    @include _530 {
      height: 2vw;
      padding-left: 1vw;
    }
}

.fromWhom {
  display: flex;
  flex-direction: row;
}

.fromWhomField {
  display: block;
  width: 88%;

  height: 16px;
  margin-left: 5px;
  padding-left: 10px;
  border-bottom: 1px solid $black;

    @include _530 {
      width: 89.3%;
      height: 2vw;
      padding-left: 1vw;
    }
}