@import '../../styles/color.scss';
@import '../../styles/media.scss';

.table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  table-layout: fixed;
  white-space: nowrap;

    @include _530 {
      font-size: 2vw;
    }
}

.col1 {
  width: 10%;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 20%;
}

.tableCell {
  border: 1px solid $black;
  border-left: $white;
  margin: 0;
  padding: 2px 0;

    &.rightBorder {
      border-right: $white;
    }

    @include _530 {
      padding: .7vw 0;
    }
}

.tableCellTotal {
  text-align: right;
  padding-right: 10px;
  border-bottom: $white;
}
