@import '../../styles/color.scss';
@import '../../styles/media.scss';

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  padding: 25px 10px 15px 15px;

    @include _530 {
      font-size: 3vw; 
      padding: 5vw 2vw 3vw 3vw;
    }
}

.signature {
  display: flex;
}

.line {
  font-size: 10px;
  font-weight: 100;
  border-top: 1px solid $black;
  margin: 15px 0 0 2px;

    @include _530 {
      font-size: 2vw;  
      margin: 3.5vw 0 0 .5vw;
    }
}